@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
body{font-family: 'Poppins', sans-serif;}


*{ box-sizing:border-box;}
html,body {margin:0; padding:0;}
ul,li {margin:0; padding:0; list-style:none;}
a {text-decoration:none; color:#555;}
h1,h2,h3,h4,h5,h6,p {margin:0; padding:0;}
table{border-collapse: collapse;}
figure{margin:0; padding:0;}

        
body{
    position:relative;
    min-height:100vh;
    text-align:center;
    margin:0 auto;
    word-break: keep-all;
    background: #fff;
}   
.color{background:#ffc000;; width:72%;height:100%;position:absolute; right:0; top:0;z-index:-3;}        
    
header{
    position:absolute;
    width:100%;
    z-index:99;
    top:0; left:0;
    margin-top:50px;

}
        
header>div {
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header h1 a {    
    color:#000;}

header>div nav {width:80%;display:none;}
header>div nav.active {display: block;}
header>div nav ul {
    display:flex;
    justify-content: flex-end;
}
header>div nav ul li {
    display:inline-block; 
    position:relative;
}
header>div nav ul li>a{
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
    color:#fff;
}

header>div nav ul li:hover > a{
    color:#000;    
}


header>div .menu-trigger {
	position: relative;
	width: 30px;
	height: 16px;
    z-index:10;

}

header>div .menu-trigger,
header>div .menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

header>div .menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #fff;
	border-radius: 4px;
}
header>div .menu-trigger span:nth-of-type(1) {    
	top: 0;
}
header>div .menu-trigger span:nth-of-type(2) {
    top:50%; transform: translateY(-50%);   
}
header>div .menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

header>div .menu-trigger.active span:nth-of-type(1) {   
    transform: translateY(7px) rotate(45deg);
} 

header>div .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

header>div .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
}
main{
    position:relative;
    width:90%;
    padding-top:100px;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
        }
main>div:nth-of-type(1){
    width:5%;
    display:flex;
    flex-direction: column;

}
main > div:nth-of-type(1) p{
    position:relative;
    font-size:1.8em;
    text-align: left;
}
main > div:nth-of-type(1) p:before{
    content: '';
    display:block;
    background: #ccc;
    width:1px;
    height:100px;
    position: absolute;
    left:20%;
    bottom:150%;    

}
main > div:nth-of-type(1) p:after{
    content: '';
    display:block;
    background: #ccc;
    width:1px;
    height:100px;
    position: absolute;
    left:20%;
    top:150%;    

}

main > div:nth-of-type(2){width:90%; color:#fff;white-space: pre-line;}

main>div:nth-of-type(2) div:nth-of-type(1) {float:left; width:40%;}

main>div:nth-of-type(2) div:nth-of-type(1) img{
    width:80%;    
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 300%;
      width:200%;
  }
  to {
    margin-top: 0%;
  }
}

main>div:nth-of-type(2) div:nth-of-type(2) {
    float:right;
    width:60%;
    text-align: left;
}

main>div:nth-of-type(2) div:nth-of-type(2) h2{
    text-transform: uppercase;
    font-size:3em;
    line-height: 1.25em;
    text-shadow: 9px 6px 6px rgba(255,96,0,0.5);
    
}
main>div:nth-of-type(2) div:nth-of-type(2) p{
    margin:20px 0;
}
main>div:nth-of-type(2) div:nth-of-type(2) span a{
    color:#fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

main > div:nth-of-type(3){
    width:5%;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
main > div:nth-of-type(3) span {

    width:15px;
    height:15px;
    margin:10px 0;
    border:1px solid #fff;
    border-radius: 100%;
}
main > div:nth-of-type(3) span.active{
    background:#fff;
}
footer{
    position:relative;
    width:90%;
        }
footer ul{
    display:flex;
    justify-content:flex-end;
    }
footer ul li{
margin:0 1%;
        }
  
.popup{
    position:fixed;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    display: none;
}
    
    
@media (min-width: 100px) and (max-width: 768px) {
    
.color{width:90%;}
header{margin-top:0;

    }
header>div{
      flex-direction: column;  
    }
header>div nav ul {
    flex-direction: column;
    padding:20px 0;
}
    
header>div .menu-trigger {
    position: absolute;
    width: 30px;
    height: 16px;
    z-index: 10;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}
header>div nav ul li:hover{
    background:#ffc000;  
}
    
main>div:nth-of-type(2) div:nth-of-type(1){width:100%;}
main>div:nth-of-type(2) div:nth-of-type(2){width:100%; text-align: center}

}